.users {
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    /* background-color: rgb(35, 35, 35); */
    border-right: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
}

.users tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.243);
    color: white;
}

.users td{
    font-size: 16px;
    padding: 7px 27px;
    text-align: center;
}

.users th{
    padding: 7px 27px;
    border-bottom: 3px solid var(--main-color);
}